In [36]:
import pandas as pd

In [38]:
trans_df = pd.read_csv('tether_transactions_522647.csv')

In [40]:
trans_df.head()

,tx_hash,block_height,block_hash,block_time,position_in_block,sending_address,reference_address,tx_type,amount,version,is_valid,fee
0,5ed3694e8a4fa8d3ec5c75eb6789492c69e65511522b22...,324140,00000000000000001e76250b3725547b5887329cfe3a8b...,2014-10-06 16:39:15,767,3MbYQMMmSkC3AgWkj9FMo5LsPTW1zBTwXL,NaN,Create Property - Manual,0.00,0,1,0.00
1,ce36efda15bc6cf99ba6a010e71b47b00a5ea2071a3928...,324157,0000000000000000163661e7866eb97375c3e82f3b3c33...,2014-10-06 18:54:05,2082,3MbYQMMmSkC3AgWkj9FMo5LsPTW1zBTwXL,132j6EiUWNamSSjiYEQBhsbufsnBh4a28U,Grant Property Tokens,100.00,0,1,0.00
2,f82f2f5a557ff3ed65984d80fa6de31541c879e12de56f...,324158,00000000000000000baea7954d4c8b386d2a3079d0f587...,2014-10-06 19:02:58,540,132j6EiUWNamSSjiYEQBhsbufsnBh4a28U,1En8LrBs7FGekRX3zSsmEVuPz2KVUEtCy2,Simple Send,5.00,0,1,0.00
3,c21ad1d56122a7d41ad6eb98a92aed42a4af9caad09276...,324159,0000000000000000161bc2e8e46006a574a39b38341478...,2014-10-06 19:06:43,270,132j6EiUWNamSSjiYEQBhsbufsnBh4a28U,1LrKcqA81updDyASYW6113yXFrDrJ1xizs,Simple Send,10.00,0,1,0.00
4,e46031f53e7067eb7531cef60f186b2311d907cf6321e5...,324167,00000000000000001c4ea4f2780c0817ec09cfb6a09f63...,2014-10-06 20:47:06,669,132j6EiUWNamSSjiYEQBhsbufsnBh4a28U,1CXE1tU9XKLRog1FTHXhQFkL3FrwWodumd,Simple Send,5.00,0,1,0.00

In [39]:
top_trans = trans_df[['sending_address', 'reference_address', 'amount']] \
    .groupby(['sending_address', 'reference_address']) \
    .sum() \
    .sort_values('amount', ascending=False) \
    .rename({'amount': 'total'}, axis='columns')

In [41]:
pd.options.display.float_format = '{:,.2f}'.format

In [42]:
top_trans.head()

                                                                                 total
sending_address                    reference_address
1MZAayfFJ9Kki2csoYjFVRKHFFSkdoMLtX 1KYiKJEfdJtap9QX2v9BXJMpz2SfU4pgZw 2,966,893,777.72
1J1dCYzS5EerUuJCJ6iJYVPytCMVLXrgM9 1Po1oWkD2LmodfkBYiAktwh76vkF93LKnh 2,683,118,303.85
168o1kqNquEJeR9vosUB5fw4eAwcVAgh8P 1LAnF8h3qMGx3TSwNUHVneBZUEpwE4gu3D 2,516,524,200.00
1NTMakcgVwQpMdGxRQnFKyb3G1FAJysSfz 1KYiKJEfdJtap9QX2v9BXJMpz2SfU4pgZw 1,875,032,700.00
3MbYQMMmSkC3AgWkj9FMo5LsPTW1zBTwXL 1NTMakcgVwQpMdGxRQnFKyb3G1FAJysSfz 1,875,000,000.00

In [43]:
addresses_df = pd.read_csv('address.csv')

In [44]:
addresses_df.head()

                              address          id exchange
0  1FoWyxwPXuj4C6abqwhjDWdz6D4PZgYRjA  Binance-01  Binance
1  12uhUkxpwkD2LGzKHUywoknoJ3fC9vev1x  Binance-02  Binance
2  16wf3d47R2ENjF5UGwQcPmsshxPc1fYCNj  Binance-03  Binance
3  1HsenWQk8UjPczo8DzVzqivLqWmBTfxC4V  Binance-04  Binance
4  17Fn7FxX3rs87Nvuit47163dHGp34C2aox  Binance-05  Binance